@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Microsoft.AspNetCore.Authentication

    <a class="btn btn-primary" app-action="LogOut">Log out</a>
    <h3>This page only for members</h3>

    <h3>Claim Data</h3>

    <table>
        <thead>
            <tr>
                <th>Claim Type</th>
                <th>Claim Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in User.Claims)
            {
                <tr>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <h3>Authentication Data</h3>
    <table>
        <thead>
            <tr>
                <th>Auth Property Type</th>
                <th>Auth Property Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>

    </table>

}
